/* -------------------------------------------------------------------------- */
/*                                   general                                  */
/* -------------------------------------------------------------------------- */
body {
    background-color: #f8f8f8;
    color: #131313;
    font-family: "Quattrocento Sans", sans-serif;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: #242424;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.bg-white {
    background-color: #f8f8f8;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

#header {
    width: 100%;
    position: fixed;
    z-index: 2;
    transition: 0.5s;
    background-color: #4c5a5f;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    height: 10vh;
    padding: 0.6rem 0;
    opacity: 1;
    transition: 1.5s;
    transition: 0.6s;
    position: relative;
}

.company-name {
    font-size: 2rem;
    display: none;
    font-family: 'Anton';
    letter-spacing: -0.1rem;
}

.logo {
    width: 3rem;
    height: 100%;
    opacity: 1;
    transition: 0.4s;
}

.header-nav-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mobile-nav .main-nav a {
    margin-left: 0.8rem;
    text-align: center;
    font-family: "Roboto Serif", serif;
}

.mobile-nav .main-nav a:hover {
    border-bottom: 1px solid #000;
}

.burger-icon i {
    font-size: 2rem;
    cursor: pointer;
}

.cart-icon i {
    font-size: 1.4rem;
    color: #1a1919;
    cursor: pointer;
    margin-bottom: 0.8rem;
}

/* -------------------------------------------------------------------------- */
/*                              side menu mobile                              */
/* -------------------------------------------------------------------------- */

.mobile-nav {
    width: 60%;
    height: 100vh;
    background-color: #818899;
    position: fixed;
    top: 0;
    right: -60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    transition: 0.6s ease-out;
}

.mobile-nav .main-nav {
    list-style: none;
    text-align: right;
    font-size: 1.8rem;
}

.mobile-nav .main-nav li {
    margin: 1.2rem 0;
}

.mobile-nav i {
    position: absolute;
    top: 4%;
    right: 8%;
    font-size: 2rem;
    cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                  cart tag                                  */
/* -------------------------------------------------------------------------- */

#cartDesk {
    position: relative;
}

.circle-tag {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #e2c958;
    position: absolute;
    top: -16%;
    left: 83%;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    color: #f8f8f8;
    font-size: 0.7rem;
}

.mobile-nav .circle-tag {
    top: 5%;
    left: 95%;
}

.active {
    font-size: 1.3rem;
    border-bottom: 1px solid #000;
}

.mobile-nav .active {
    font-size: 2rem;
}

/* -------------------------------------------------------------------------- */
/*                                desktop menu                                */
/* -------------------------------------------------------------------------- */

.desktop-nav {
    display: none;
}

/* -------------------------------------------------------------------------- */
/*                                    hero                                    */
/* -------------------------------------------------------------------------- */

#hero {
    background-image: url("../assets/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    transition: 1s;
}

.hero-titles {
    width: 80%;
    text-align: center;
    font-size: 3rem;
    color: #c0c0c0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    transition: 1.6s ease-in-out;
}

.main-title {
    margin-bottom: 0.6rem;
    opacity: 1;
    transition: 1.5s;
    font-family: 'Anton';
    letter-spacing: -0.1rem;
}

.undertitle {
    font-size: 1.8rem;
    opacity: 1;
    transition: 1.5s;
    font-family: "Roboto Serif", serif;
}

.down-arrow {
    width: 10rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1.5s;
    cursor: pointer;
}

.down-arrow:hover {
    transform: translateX(-50%) scale(1.15);
    opacity: 1;
}

/* -------------------------------------------------------------------------- */
/*                                  info area                                 */
/* -------------------------------------------------------------------------- */

#information-area {
    padding: 8vh 0;
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    margin-top: 3rem;
}

.past-title{
    text-align: center;
    font-family: "Anton";
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.img-slider,
.info-text {
    width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.slider-piece {
    transition: 0.5s;
    width: 70%;
    
}

.info-title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
    font-family: "Roboto Serif", serif;
}

.info-description {
    font-size: 1.1rem;
    font-family: "Quattrocento Sans", sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                                gallery area                                */
/* -------------------------------------------------------------------------- */

.products-gallery {
    padding: 2rem 0 0;
}

.gallery-title {
    text-align: center;
    font-family: "Anton", serif;
    font-size: 2.4rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.product-gallery {
    padding-bottom: 1rem;
}

.product-card {
    margin: 0 auto 2rem;
    padding: 6%;
    border: 1px solid #7272721c;
    border-radius: 2rem;
}

.p-Author{
    margin-top: 0.3rem;
}

.sala-title{
    text-align: center;
    margin: 0 0 1rem;
    font-size: 1.8rem;
    font-family: "Anton";
}

.product-card-inner {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1rem;
}

.product-img-box {
    width: calc((60% - 0.8rem) + (0.8rem / 2));
}

.product-text-box {
    width: calc((40% - 0.8rem) + (0.8rem / 2));
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-img {
    border-radius: 0.5rem 0 0 0.5rem;
}

.p-name {
    font-family: "Roboto Serif", serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.p-family {
    font-size: 1.1rem;
    font-weight: 500;
    color: #727272;
}

.p-price {
    font-size: 1.1rem;
    font-weight: 500;
}

.p-descr {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding: 0 5%;
}

.p-button-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.p-cta {
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    color: #f8f8f8;
    cursor: pointer;
}


.add {
    background-color: #77a9bc;
}

.add:hover {
    background-color: #94b9c7;
}

.add:active {
    background-color: #668692;
}

.remove {
    background-color: #7a73b8;
}

.remove:hover {
    background-color: #9b92e7;
}

.remove:active {
    background-color: #6a64a1;
}

/* -------------------------------------------------------------------------- */
/*                            cta cart button area                            */
/* -------------------------------------------------------------------------- */

.cta-main-button {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0;
    border-radius: 0.4rem;
    color: #f8f8f8;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    background-color: #5387b8;
    font-family: "Roboto Serif", serif;
}

.cta-main-button:hover {
    background-color: #578dbe;
}

.cta-main-button:active {
    background-color: #426c94;
}

/* -------------------------------------------------------------------------- */
/*                                 quote area                                 */
/* -------------------------------------------------------------------------- */

.quote-area {
    padding: 4rem 0;
}

blockquote {
    width: 90%;
    margin: 0 auto 0.7rem;
    text-align: center;
    font-style: italic;
}

.author {
    width: 90%;
    text-align: right;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: "Roboto Serif", serif;
}

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

footer {
    background-color: #4c5a5f;
    padding: 1rem 0;
    color: #272727;
}

.footer-box {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.footer-img {
    width: 20%;
}

.utils-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social {
    display: flex;
    gap: 0.8rem;
    font-size: 1.3rem;
}

.social i {
    cursor: pointer;
}

.social i:hover {
    color: #cccccc;
}

.cookies {
    margin-top: 0.3rem;
}

.copy-p {
    text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                media query min 600px                              */
/* -------------------------------------------------------------------------- */

@media screen and (min-width:600px) {

    .container {
        width: 90%;
    }

    .header-nav-icon {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    .company-name {
        display: block;
    }

    .logo {
        opacity: 0;
    }

    .desktop-nav {
        display: block;
    }

    .desktop-nav .main-nav {
        display: flex;
        gap: 1rem;
    }

    .desktop-nav .main-nav a {
        color: #141414;
        font-family: "Roboto Serif", serif;
        font-weight: 600;
    }

    .desktop-nav .main-nav a:hover {
        border-bottom: 1px solid #000;
    }

    /* hero */

    .hero-titles {
        font-size: 5rem;
        top: 40%;
    }

    .main-title {
        margin-bottom: 0.8rem;
        opacity: 1;
        transition: 1.5s;
        font-family: 'Anton';
        letter-spacing: -0.1rem;
    }

    .undertitle {
        font-size: 2.4rem;
        opacity: 1;
        transition: 1.5s;
    }

    #information-area {
        padding: 6vh 0;
    }

    .info-content {
        flex-direction: row;
        width: 70%;
        margin: 0rem auto 0;
    }

    .img-slider {
        width: calc((43% - 3rem) + (3rem / 2));
    }

    .info-text {
        width: calc((57% - 3rem) + (3rem / 2));
    }

    .info-title {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }

    .info-description {
        font-size: 1.4rem;
    }

    /* gallery */

    .product-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 1.4rem;
        padding: 0 7rem;
    }

    .products-gallery {
        padding-bottom: 3rem;
    }

    .product-card {
        width: calc((50% - 1.4rem) + (1.2rem / 2));
        margin: 0;
        padding: 4%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #efecec;
    }

    /* main cta button  */

    .cta-main-button {
        width: 45%;
    }

    /* quote area  */

    .quote-area {
        padding: 5rem 0;
    }

    blockquote {
        width: 60%;
        font-size: 1.3rem;
        margin: 0 auto 1.2rem;
    }

    .author {
        width: 60%;
        font-size: 1.1rem;
    }

    /* footer */

    .footer-box {
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-img {
        width: 8%;
    }

    .utils-link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .social {
        display: flex;
        gap: 0.8rem;
        font-size: 1.3rem;
    }
}
